{% extends 'accounting/base.html' %}

{% block content %}
<br>
<br>
<div class="container">

    <div class="row">
        <div class="col-md-12">
            <button class="btn btn-secondary float-right">Download</button>
            <button class="btn btn-secondary float-right">Print</button>
        </div>
    </div>
    <br>

    <div class="row">
        <div class="col-md-12">
            <div class="card">
              <img class="card-img-top" id="logo" src="../../static/accounting/images/company-logo.jpg" alt="Card image cap">
              <div class="card-block">
                <p class="card-text">71 Pilgrim Avenue,Chevy Chase, MD 20815</p>
              </div>
            </div>
        </div>
    </div>

    <br>

    <p class="text-right"><strong>June 20, 2017</strong></p>

    <hr style="margin-top:-1em">
    <div class="row">
        <div class="col-md-12">
            <div class="text-md-center">
                <i class="fa fa-search-plus float-md-left icon"></i>
                <h2 style="text-align:center;">Invoice for purchase #33221</h2>
            </div>
          <hr>
            <div class="row">
                <div class="col-md-12">
                <div class="card-deck">
                        <div class="card">
                            <div class="card-header">Billing Details</div>
                            <div class="card-block">
                                <strong>David Peere:</strong><br>
                                1111 Army Navy Drive<br>
                                Arlington<br>
                                VA<br>
                                <strong>22 203</strong><br>
                            </div>
                        </div>

                        <div class="card">
                            <div class="card-header">Payment Information</div>
                            <div class="card-block">
                                <strong>Card Name:</strong> Visa<br>
                                <strong>Card Number:</strong> ***** 332<br>
                                <strong>Exp Date:</strong> 09/2020<br>

                            </div>
                        </div>

                        <div class="card">
                            <div class="card-header">Shipping Address</div>
                            <div class="card-block">
                                <strong>David Peere:</strong><br>
                                1111 Army Navy Drive<br>
                                Arlington<br>
                                VA<br>
                                <strong>22 203</strong><br>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><br><br>
    <div class="row">
        <div class="col-md-12">
            <div class="card ">
                <div class="card-header">
                    <h3 class="text-md-center"><strong>Order summary</strong></h3>
                </div>
                    <div class="table-responsive">
                        <table class="table table-sm">
                            <thead>
                                <tr>
                                    <td><strong>Item Name</strong></td>
                                    <td class="text-xs-center"><strong>Item Price</strong></td>
                                    <td class="text-xs-center"><strong>Item Quantity</strong></td>
                                    <td class="text-xs-right"><strong>Total</strong></td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Samsung Galaxy S5</td>
                                    <td class="text-xs-center">$900</td>
                                    <td class="text-xs-center">1</td>
                                    <td class="text-xs-right">$900</td>
                                </tr>
                                <tr>
                                    <td>Samsung Galaxy S5 Extra Battery</td>
                                    <td class="text-xs-center">$30.00</td>
                                    <td class="text-xs-center">1</td>
                                    <td class="text-xs-right">$30.00</td>
                                </tr>
                                <tr>
                                    <td>Screen protector</td>
                                    <td class="text-xs-center">$7</td>
                                    <td class="text-xs-center">4</td>
                                    <td class="text-xs-right">$28</td>
                                </tr>
                                <tr>
                                    <td class="highrow"></td>
                                    <td class="highrow"></td>
                                    <td class="highrow text-xs-center"><strong>Subtotal</strong></td>
                                    <td class="highrow text-xs-right">$958.00</td>
                                </tr>
                                <tr>
                                    <td class="emptyrow"></td>
                                    <td class="emptyrow"></td>
                                    <td class="emptyrow text-xs-center"><strong>Shipping</strong></td>
                                    <td class="emptyrow text-xs-right">$20</td>
                                </tr>
                                <tr>
                                    <td class="emptyrow"><i class="fa fa-barcode iconbig"></i></td>
                                    <td class="emptyrow"></td>
                                    <td class="emptyrow text-xs-center"><strong>Total</strong></td>
                                    <td class="emptyrow text-xs-right">$978.00</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>


<style>
.height {
    min-height: 210px;

}

.icon {
    font-size: 47px;
    color: #5CB85C;
}

.iconbig {
    font-size: 77px;
    color: #5CB85C;
}

.table > tbody > tr > .emptyrow {
    border-top: none;
}

.table > thead > tr > .emptyrow {
    border-bottom: none;
}

.table > tbody > tr > .highrow {
    border-top: 3px solid;
}
</style>

{% endblock %}